<div>
  <h1>Carritos</h1>
</div>

<p>carrito nuevo o ya hecho</p>
<div >
  <div >
    <form id="newCart">
      <div >
        <label >Crear Carrito</label>
        <input type="text" disabled placeholder="Id autom" />
      </div>
      <div >
        <button type="submit" class="btn-danger">Crear Carrito</button>
      </div>
    </form>
  </div>
  <div >
    <form id="searchCart">
      <div >
        <label >Buscar Carrito x ID</label>
        <input id="cartId" type="text"  placeholder="Ingresar ID" />
      </div>
      <div >
        <button type="submit" class="btn-danger">Buscar Carrito</button>
      </div>
    </form>
  </div>
</div>

<script src="/aleas/js/index.js"></script>