<h3>Login de Usuarios</h3>
<div id="containerForm">
  <form method="POST" action="/sessions/login">
    <div>
      <label>Usuario</label>
      <input type="text" name="mail" placeholder="Ingresar tu mail" />
    </div>
    <div>
      <label>Contraseña</label>
      <input type="password" name="pass" placeholder="Ingresar Contraseña" />
    </div>
    <div>
      <button type="submit" class="btn-btn danger px-4 py-2 "><strong>Login</strong></button>
      <div>
        <p>No tienes una cuenta?</p>
        <a href="/register" class="btn btn-secondary">Registrarse</a>
      </div>
      <div>
        <a href="/auth/github">Entrar con Github</a>
      </div>
    </div>
  </form>
</div>