<div >
  <form method="POST" action="/sessions/register">
    <h3>Registro</h3>
    <div >
      <label>Nombre</label>
      <input
        type="text"
        
        name="nombre"
        placeholder="Ingresar nombre"
      />
    </div>
    <div >
      <label >Apellido</label>
      <input
        type="text"
        
        name="apellido"
        placeholder="Ingresar apellido"
      />
    </div>
    <div>
      <label >Usuario</label>
      <input
        type="text"
       
        name="usuario"
        placeholder="Ingresar usuario"
      />
    </div>
    <div class="form-group">
      <label >Email</label>
      <input
        type="text"
       
        name="email"
        placeholder="Ingresar email"
      />
    </div>
    <div >
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        name="pass"
        placeholder="Ingresar password"
      />
    </div>
    <div >
      <button type="submit" >Registrar Usuario</button>
    </div>
    <div>
      <p>ya tieenes cuent?</p>
        <a href="/login" class="btn btn-secondary">LOGIN</a>
    </div>
  </form>
</div>