<div>
  <h1 class="mx-auto" style="width: 450px">Carritos</h1>
</div>

<p>carrito nuevo o ya hecho</p>
<div style="display: flex">
  <div >
    <form id="newCart">
      <div class="form-group">
        <label class="alert-info" style="padding:3px">Crear Carrito</label>
        <input type="text" class="form-control" disabled placeholder="Id autom" />
      </div>
      <div >
        <button type="submit" class="btn-info">Crear Carrito</button>
      </div>
    </form>
  </div>
  <div class="mx-auto" style="width: 15%">
    <form id="searchCart">
      <div class="form-group">
        <label class="alert-info" style="padding:3px">Buscar Carrito x ID</label>
        <input type="text" class="form-control" id="cartId" placeholder="Ingresar ID" />
      </div>
      <div class="mx-auto" style="width: 50%">
        <button type="submit" class="btn-info">Buscar Carrito</button>
      </div>
    </form>
  </div>
</div>

<script src="/aleas/js/index.js"></script>