<div>
    <h2>Todos los Productos</h2>
    {{#each productos}}
        <div>
            <h3>TUTULO{{this.title}}</h3>
            <p>DESCRIPCION{{this.description}}</p>
            <p>CATEGORIA{{this.category}}</p>
            <p>STOCK{{this.stock}}</p>
        </div>
    {{/each}}
</div>
