<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nombre de tu aplicación</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <!-- Barra de navegación, logo, etc. -->
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <!-- Pie de página -->
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
